
:host {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center ;
    background-image: url("../../assets/login-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }