
  mat-card {
    width: 300px;
    border-radius: 10px;
  }
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }


  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button, a {
    display: flex;
    justify-content: center;
  }

  mat-card-actions {
    display: flex;
    justify-content: center;
  }

  mat-form-field {
    width: 100%;
  }
  mat-error {
    padding: 0;
  }

  .btn-row {
    display: flex;
    justify-content: center;
  }

  button {
    margin: 10px;
  }

  