<mat-card-content>
    <form [formGroup]="changePasswordForm" >
        <!-- Contraseña -->
        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input (keyup)="updateConfirmPasswordValidation()"
            required [type]="hidePassword ? 'password' : 'text'" matInput placeholder="" formControlName="password">
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="password!.errors">
                <span *ngFor="let error of password!.errors | keyvalue" [ngSwitch]="error.key">
                    <li *ngSwitchCase="'required'" >La contraseña es requerida</li>
                    <li *ngSwitchCase="'minlength'" >La contraseña debe contener al menos 5 caracteres</li>
                    <li *ngSwitchCase="'maxlength'" >La contraseña puede contener hasta 20 caracteres</li>
                    <li *ngSwitchCase="'pattern'" >La contraseña debe contener letras, numeros y al menos un simbolo especial</li>
                </span>
            </mat-error>
        </mat-form-field>

        <!-- Confirmar Contraseña -->
        <mat-form-field>
            <mat-label>Confirmar Contraseña</mat-label>
            <input required [type]="hideConfirmPassword ? 'password' : 'text'" matInput placeholder="" formControlName="confirmPassword">
            <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error>
                <span *ngFor="let error of confirmPassword!.errors | keyvalue" [ngSwitch]="error.key">
                    <li *ngSwitchCase="'required'" >La contraseña es requerida</li>
                    <li *ngSwitchCase="'passwordMismatch'" >La contraseñas no coinciden</li>
                </span>
            </mat-error>
        </mat-form-field>

        <div class="btn-row" >
            <!-- Botón de confirmacion -->
            <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">Confirmar</button>
        </div>

    </form>
</mat-card-content>