<h1>{{this.title}}</h1>

<div class="generic-form-container">
    <form [formGroup]="this.form">
        <!-- Select of Tipo de Centro de Salud -->
        <mat-form-field>
            <mat-label>Tipo de Centro de Salud</mat-label>
            <mat-select 
                formControlName="tipoCentroSaludId" 
                (selectionChange)="tipoGrupoMedicoId!.reset()"
                multiple
                >
                <mat-option *ngFor="let tipoCentroSalud of this.tiposCentroDeSalud" 
                    [value]="tipoCentroSalud.id">
                    {{tipoCentroSalud.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Select of Grupo Medico type -->
        <!-- <mat-form-field *ngIf="tipoCentroSaludId?.value == 'grupoMedico'">
            <mat-label>Tipo de Grupo Medico</mat-label>
            <mat-select formControlName="tipoGrupoMedicoId">
                <mat-option>-</mat-option>
                <mat-option *ngFor="let grupoMedico of this.tiposGrupoMedico" [value]="grupoMedico.id">
                    {{grupoMedico.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field> -->
        <!-- Select of Zona -->
        <mat-form-field>
            <mat-label>Zona</mat-label>
            <mat-select formControlName="zonaId" 
                multiple
                (selectionChange)="this.refreshLocalidades()"
                >
                <mat-option *ngFor="let zona of this.zonas" [value]="zona.id">
                    {{zona.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Select of Location -->
        <mat-form-field>
            <mat-label>Localidad</mat-label>
            <mat-select formControlName="localidadId"
                multiple>
                <mat-option *ngFor="let localidad of this.localidades" [value]="localidad.id">
                    {{localidad.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <div class="button-container">
            <!-- Add Icon Button-->
            <button mat-mini-fab color="primary" class="upload-btn"
            (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </form>
</div>

<div class="generic-form-container overflow-x">
    <table mat-table [dataSource]="this.list" >
        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>
        <!-- Tipo -->
        <ng-container matColumnDef="tipo">
            <th mat-header-cell *matHeaderCellDef>Tipo</th>
            <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
        </ng-container>
        <!-- No. Zona -->
        <ng-container matColumnDef="zonaId">
            <th mat-header-cell *matHeaderCellDef>No. Zona</th>
            <td mat-cell *matCellDef="let element"> {{element.zonaId}} </td>
        </ng-container>
        <!-- Localidad -->
        <ng-container matColumnDef="localidad">
            <th mat-header-cell *matHeaderCellDef>Localidad</th>
            <td mat-cell *matCellDef="let element"> {{element.localidad}} </td>
        </ng-container>
        <!-- Acciones -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-mini-fab color="primary" class="upload-btn"
                (click)="edit(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-mini-fab color="warn" class="upload-btn"
                (click)="confirmDelete(element.meta)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>