@import 'theme.scss';

html, body { height: 100%; width: 100%; }
body {
    margin: 0;
    min-height: 100vh;
    background: #e2e2e2;
  }

html, body { height: 100%; }

.mat-mdc-form-field-hint-wrapper, .mat-mdc-form-field-error-wrapper {
  position: relative !important;
}

.mat-mdc-form-field-bottom-align::before {
  display: inline !important;
}
.mat-mdc-form-field-bottom-align {
  margin-bottom: 10px !important;
}